<div class="footer ui-widget-header">
    <p>
	Copyright - Lendon Computer Services LLC - 2012 copyright - 
	Email: <a href="mailto: lendon@lendon.biz">lendon@lendon.biz</a>
	</p>
<!-- end .footer --></div>