<div class="header ui-widget-header">
	<a href="#">
	<img src="/assets/wild-animals-resting.jpg" alt="Insert Logo Here" name="Insert_logo" width="20%" height="90" id="Insert_logo" style="background: #8090AB; display:block;" />
      <h1>The Heathers Condominiums</h1>
      <h2>3678 Hidden Drive</h2>
      <h2>San Antonio, Tx. 78217</h2>
      <h2>(210)555-1212</h2>
      <h2> Gate Access Management System </h2>
      <p>This application is to manage information related to the gate access devices for the Heather Condominiums.  It tracks Units, contact_infos, Devices and Contact Information. </p>
    </a>
<!-- end .header --></div>