<div class="header ui-widget-header">
	<a href="#">
	<%= image_tag "images/gates.png" %>
      <h1>The Heathers Condominiums</h1>
      <h2>3678 Hidden Drive</h2>
      <h2>San Antonio, Tx. 78217</h2>
      <h2>(210)555-1212</h2>
      <h2> Gate Access Management System </h2>
      <p>This system manages information on gate access devices for the Heather Condominiums located in NorthWest San Antonio.
        It tracks Condo Units, Persons, Contact Information and Access Devices. </p>
    </a>
<!-- end .header --></div>