<style type="text/css">
#User_login_info {
	font-size: small;
	text-align: right;
}
</style>
<div class="ui-widget ui-widget-content container">

		<div class="content">

			<h1>The Heathers Condominiums</h1>
			<h1>3678 Hidden Drive</h1>
			<h1>San Antonio, Tx. 78217</h1>
			<h1>(210)555-1212</h1>
			<h2> Gate Access Management System </h2>
			<p>This application is to manage information related to the gate access devices for the Heather Condominiums.  It tracks Units, contact_infos, Devices and Contact Information. </p>

			<div id="mainmenu_tabs">
			<ul>
              <li><a href="#condo_tab">Condo Units</a></li>
              <li><a href="#person_tab">Persons</a></li>
              <li><a href="#access_devices_tab">Access Devices</a></li>
             </ul>s
			</div>

		<div id="switcher"></div>

		<!-- end .content --></div>

<!-- end .container --></div>
